body {
  font-family: "Palatino Linotype";
  background-color: #efefef;
  line-height: 1.9;
  color: #8c8c8c;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
  color: #000;
}
@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/PalatinoLinotype.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.text-black {
  color: #000;
}

.content {
  padding: 7rem 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Palatino Linotype";
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
  font-size: 13px;
}

.btn,
.form-control,
.custom-select {
  height: 45px;
  border-radius: 0;
}

.custom-select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 0;
  font-size: 18px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.btn.btn-primary {
  background: #000000;
  color: #ffd000;
  -webkit-box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2);
  box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2);
}
.btn:hover {
  color: #fff;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}
.contact-wrap .form,
.contact-wrap .contact-info {
  padding: 40px;
}
.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}
.contact-wrap .form {
  background: #fff;
}
.contact-wrap .form h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-wrap .contact-info {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.contact-wrap .contact-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767px) {
  .contactdiv .contact-wrap .contact-info {
    height: 400px !important;
  }
  .contactdiv{
    position: relative;
    width: 450px;
  }
}
.contact-wrap h3 .contact-info h3,.text-center {
  color: #000000;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 4px;
  font-family: "Palatino Linotype";
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
  text-align: center;
}

#form-message-warning {
  color: #b90b0b;
  text-align: center;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.row {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

section .contact-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

section .contactdiv{
  width: 850px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}